html,
body {
  width: 100%;
  height: 100%;
  font-family: "BioRhyme", serif;
}

/* GLOBAL STYLES*/

.slide-enter {
  opacity: 0;
  transform: translateY(50px);
}

.slide-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms ease-out;
}

.slide-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 500ms, transform 500ms ease-out;
}

.page-container {
  padding: 75px 0 0 50px;
}

/*PAGE TRANSITION ANIMATION*/

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 100ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;

  transition: opacity 100ms;
}

/* NAVIGATION */

.nav {
  margin-top: 25px;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  z-index: 2;
}

.nav ul {
  margin-top: 2rem;
}

.nav li {
  list-style: none;
  font-weight: 400;
  margin-right: 2rem;
  line-height: 1.5rem;
}

.nav li a {
  color: #000;
  text-decoration: none;
}

.nav-item:hover > #highlight {
  width: 100%;
  /* I NEED TO SORT OUT THE TRANSITION OUT STILL */
}

#highlight {
  display: inline-block;
  position: absolute;
  margin-right: 20px;
  z-index: -1;
  background-color: #f2bb05;
  height: 5px;
  width: 0px;
  padding-bottom: 10px;
  margin-top: 10px;
  transition: width 0.5s ease-in-out;
  
}

/* HOME */

.headline {
  font-size: 60px;
  font-weight: 600;
  color: #f8d34f;
}

#headline-2 {
  font-size: 90px;
  font-weight: 600;
  background: url("https://images.pexels.com/photos/752484/pexels-photo-752484.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
    0 0 / cover repeat;
  color: #de466c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  background-size: 50%;
  animation: animatedBackground 75s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 100%;
  }
}

.home-arrow {
  /* transform: rotate(-90deg); */
  height: 100px;
  padding: 15px 20px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;

  transition: opacity 500ms;
}

.slide-down-enter {
  opacity: 0;
  transform: translateY(-50px);
}

.slide-down-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms ease-out;
}

.slide-down-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-down-exit-active {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 500ms, transform 500ms ease-out;
}

/* WORK */

.body-work {
  background-color: #ffffff;
  z-index: 1;
}

#work-container {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

#headline_work {
  color: #00cea0;
}

card {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  width: 400px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

card img {
  width: 100%;
  /* object-fit: cover; */
}

/* body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  background: #425a52;
} */

/* ABOUT */

#about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.headshot {
  height: 300px;
}
#about-content p {
  font-size: 24px;
  font-weight: 300;
  padding: 0px 50px;
  max-width: 500px;
}

/* REFERRALS */

/* CONTACT */

.body-contact {
  background-color: #f52c68;
}

#contact-container {
  background-color: #f52c68;
  position: relative;
  z-index: -2;
}

#headline_contact {
  color: white;
}

#contact-container form {
  padding: 100px;
  color: white;
  font-size: 50px;
  font-weight: 600;
}

input {
  width: 350px;
  border: 0;
  border-bottom: 5px solid white;
  background: none;
}

/* BUTTON WITH TRADITIONAL GRADIENT*/
/* .btn {
  font-family: "BioRhyme", serif;
  color: white;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: inline-flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  border-radius: 50px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.btn {
  font-family: "BioRhyme", serif;
  color: white;
  background: url("https://images.pexels.com/photos/752484/pexels-photo-752484.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
    0 0 / cover repeat;
  background-position: 0px 0px;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.65);
  background-repeat: repeat-x;
  background-size: 75%;
  animation: animatedButton 35s linear infinite;
  /* padding: 10px; */
  align-items: flex-start;
  border: none;
  border-radius: 50px;
  text-align: center;
  margin-top: 25px;
}

@keyframes animatedButton {
  from {
    background-position: 0 45%;
  }
  to {
    background-position: 100% 100%;
  }
}
